* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(7, 4, 7, 0.95);
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  border: 1.5px solid #009faf;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  color: #c0caf5;
  border: 1px solid #009faf;
}

#input:focus {
  box-shadow: none;
} 

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(0,240,256,0.25);
  outline: 0;
}

#text {
  margin: 2px;
  color: #c0caf5;
}

